/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
*.DS_Store
*~*
*~
#*
CVS
*.bak
*.pyo
*.pyc
.svn
.hg
.bzr
.komodotools
.tools
__pycache__
hg-checklink-*
hg-checkexec-*
.localized
.keep
.idea
.idea/**
.git
.git/**
*.gem